* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  line-height: 1.5;
}
div.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}
button {
  font-size: 16px;
}
button:hover {
  background-color: #2473f1;
  cursor: pointer;
}
.navbar {
  padding-top: 10px;
}
.navbar,
.footer {
  background-color: #1f2937;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
  font-family: "Shadows Into Light", cursive;
}
p strong {
  font-size: 16px;
}
ul {
  list-style-type: none;
}
ul a {
  text-decoration: none;
  color: #f9faf8;
}
ul a:hover {
  color: #dddfdb;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  margin-left: 20px;
}
.container .main-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 0;
  padding: 20px 0;
}
.camper-img {
  max-width: 600px;
  max-height: 300px;
  width: auto;
  height: auto;
  margin-left: 32px;
  margin-bottom: 20px;
  border-radius: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.main-text h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
  line-height: 1.2;
}
.main-text p,
.navbar ul li {
  font-size: 18px;
  color: #f9faf8;
}
button {
  background-color: #3882f6;
  color: #fff;
  padding: 6px 20px;
  border-radius: 6px;
  margin: 12px 0;
}
.sign-up {
  border: #3882f6;
}
.info {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.info-img {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info-img p {
  font-size: 16px;
}
.header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.quote-section {
  background-color: #e5e7eb;
}
.quote-section .container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-top: 38px;
  margin-bottom: 20px;
}
.quote-container {
  display: flex;
  flex-direction: column;
  max-width: 690px;
}
.quote-container .quote {
  align-self: center;

  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}
.author {
  align-self: flex-end;
}
.call-to-action .container,
.call-btn {
  background-color: #3882f6;
}
.call-text {
  color: #fff;
  font-size: 16px;
}
.call-text .call {
  font-weight: bold;
}
.call-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 20px;
}
.call-to-action .container {
  margin-top: 70px;
}
.call-btn {
  border: 1px solid white;
}
.footer p {
  color: #e5e7eb;
  text-align: center;
  padding: 20px 0;
}
.footer {
  margin-top: 70px;
}
@media (max-width: 600px) {
  .container {
    max-width: 500px;
  }
  .container .main-text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .camper-img {
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
  }

  .image-container {
    flex-wrap: wrap;
  }
  .quote-container .quote {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .quote-container {
    max-width: 345px;
  }
  .main-text h1 {
    font-size: 42px;
  }
  .call-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .call-text {
    max-width: 345px;
  }
  .main-text div {
    padding: 0 15px;
  }
  .call-text {
    text-align: center;
  }
}
